.container {
        background: radial-gradient(
          circle at 10% 20%,
          rgb(248, 213, 214) 0%,
          rgb(243, 242, 229) 90%
        );
        color: white;
      }
      h1 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 300;
        text-align: center;
        color: #15271a;
      }
      h2 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 300;
        margin: 0 30;
        text-align: center;
        color: #15271a;
      }
      h3 {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 400;
        border-radius: 4px;
        margin: 20px auto;
        padding: 16px 24px;
        border: 1px solid #15271a;
        color: #15271a;
      }
      p {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        margin: 0px auto;
        display: block;
        line-height: 1.5;
        color: #15271a;
      }
      .spider {
        margin: 0 auto;
        display: block;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 15px 60px;
      }
      .wiki {
        color: #15271a;
        text-decoration: underline;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        margin: 0 auto;
        font-size: small;
        text-align: left;
      }
      .spidylink {
        color: #15271a;
        text-decoration: underline;
        cursor: pointer;
      }

      img {
        display: block;
        margin: 0 auto;
      }
      ul {
        list-style: disc;
        padding: 10px 0px 40px;
        margin: 0 auto;
        color: #15271a;
      }
      li {
        margin: 0 auto;
        padding: 5px;
        border-radius: 4px;
        max-width: 400px;
      }
      button {
        display: block;
        margin: 20px auto;
        border: 1px solid #000000;
        background: #f4ede3;
        color: #000000;
        font-size: 16px;
        line-height: 22px;
        padding: 16px 24px;
        border-radius: 30px;
        transition: all 200ms ease;
        box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      button:hover {
        background: #15271a;
        color: #f4ede3;
      }
      .contact {
        text-align: center;
        color: #15271a;
      }